@use '@angular/material' as mat;
@use './theme-colors' as theme-colors;
@use './tokens';

html {
  color-scheme: light dark;

  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: theme-colors.$primary-palette,
        tertiary: theme-colors.$tertiary-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );

  @include mat.theme-overrides(
    (
      surface: tokens.$white,
      on-surface: tokens.$black,
    )
  );
}

html[data-theme='dark'] {
  color-scheme: dark;

  @include mat.theme(
    (
      color: (
        theme-type: dark,
        primary: theme-colors.$primary-palette,
        tertiary: theme-colors.$tertiary-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );

  @include mat.theme-overrides(
    (
      surface: tokens.$black,
      on-surface: tokens.$white,
    )
  );
}

html[data-theme='light'] {
  color-scheme: light;
}
