.actu-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 600px;
  width: 100%;

  mat-form-field {
    width: 100%;
  }

  mat-checkbox {
    margin: 0.5rem 0;
  }

  button {
    align-self: flex-start;
  }
}

@media (max-width: 599px) {
  .actu-form {
    max-width: 100%;
    padding: 0 1rem;
  }
}
