@use './styles/theme';
@use './styles/tokens';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  font: var(--mat-sys-body-medium);
  color: var(--mat-sys-on-surface);
  background-color: var(--mat-sys-surface);
}

html {
  height: 100%;
}

a {
  color: inherit;
}

.page {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
}
